#todo_container {
    width: 60%;
    margin: auto;
    margin-top: 4em;
}

#todo {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgb(145, 145, 145);

    margin: 20px 0px;
    padding: 20px 20px;
    align-items: center;

    button {
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 107, 107);
        font-size: large;
        font-weight: bold;
    }

    button:hover {
        background-color: rgb(247, 78, 78);
    }

}